{% extends 'birthdayhunt/base.html' %}

{% block content %}
<span style="font-weight: bold;">About the Hunt</span><br>
I've decided to host a virtual scavenger hunt for my birthday since we
can't be together. Zoom meetings get tiring so this hunt is done on
your own time and pace. You'll be sharing pics which allows everyone to
take part in this hunt. The goal is fun and not meant to add any stress
to your life.<br>
<br>
<span style="font-weight: bold;">Overview</span><br>
<ul>
<li>Create an account to access the hunt. (see email for details)</li>
<li>The timer starts once you login with your account.</li>
<li>The site will track
your progress, upload pics, upload text and keep score.</li>
<li>Contact
Matt if you have login issues.</li>
<li>The hunt officially ends on Jan 17th,
11:59PM eastern. progress, upload pics and text.</li>
<li>Winners get bragging rights.</li>
</ul>
<span style="font-weight: bold;">Rules</span><br>
<ol>
<li>Have fun and be creative!</li>
<li>Completing tasks for the hunt is on the honor system. No one is
verifying the uploads.</li>
<li>Be respectful of others.</li>
<li>Each task completed will add points to your account. Not all
tasks need completed</li>
<li>Scores will be shown in your account as well as the main page.</li>
<li>You will be timed on completing the hunt. The timer ends when you
click the Finalize button.</li>
<li>If there is a tie with point scores, the winner is determined by
having a shorter time to complete the list.<br>
</li>
</ol>
<span style="font-weight: bold;">About the site </span><br>
My good friend, Paul, helped configure this website so that you don't
need to load any apps or give your emails away to some untrustworthy
third party. All content you share will be visible to anyone with a
link to this page. All content becomes Matt's property. This site will
be taken down after the hunt is over.<br>
{% endblock content %}
