{% extends 'birthdayhunt/base.html' %}

{% block content %}
I've decided to host a virtual scavenger hunt for my birthday since we can't be together. Zoom meetings get tiring so this hunt is done on your own time and pace. You'll share your outcomes so we'll all be able to share in this hunt. The goal is fun so don't get stressed by any of this. The site will track your progress and keep score. Ties are settled by looking at the time to complete with shorter time being preferred. Winners get bragging rights.
 
Use your account to track your progress, upload pics and text. Contact Matt if you have login issues. The hunt officially ends on Jan 17th, 11:59PM eastern.
 
My good friend, Paul, helped configure this website so that you don't need to load any apps or give your emails away to some untrustworthy third party. All content you share will be available to anyone with a link to this page. All content becomes Matt's property. This site will be taken down after the hunt is over.
{% endblock content %}
