{% extends 'birthdayhunt/base.html' %}

{% block content %}
    <div
    style="text-align: center; font-style: italic; font-family: Arial; font-weight: bold; color: rgb(153, 0, 0);">What
    do i want for my birthday?<br>
    A fun time and some laughs while we're stuck at home.<br>
    How about a scavenger hunt, okay?<br>
    Don't leave me hanging, get off your butt and roam.<br>
    </div>
    <br>
    <table
    style="text-align: left; width: 600px; height: 600px; margin-left: auto; margin-right: auto;"
    border="0" cellpadding="2" cellspacing="2">
    <tbody>
     
        <table style="text-align: left; width: 597px; height: 144px;"
        border="1" cellpadding="2" cellspacing="2">
        <tbody>
            <tr><td style="vertical-align: top;" colspan="3">Scores</tr>
        <tr>
        <td style="vertical-align: top;">Hunter
        </td>
        <td style="vertical-align: top;">Score
        </td>
        <td style="vertical-align: top;">Time
        </td>
        </tr>
        {% for user in users %}
            <tr>
                <td style="vertical-align: top;">{{ user.name }}
                </td>
                <td style="vertical-align: top;">{{ user.points }}
                </td>
                <td style="vertical-align: top;"> {{ user.endtimer }}
                </td>
            </tr>
        {% endfor %}
        <tr><td style="vertical-align: top;" colspan="3">Riply Says Start Now</td></tr>

        <tr><td colspan="3"><img style="width: 598px; height: auto;" src="https://thatwasabitmental.files.wordpress.com/2012/02/aliens1.jpg" align="middle">
        </td>
        </tr>
    </tbody>
    </table>

{% endblock content %}