{% extends 'birthdayhunt/base.html' %}

{% block content %}
    <h2>All Your Proof (though you are probably liying)...</h2>
    {% for photo in photos %}
        <article class="media content-section" width="100%">
            <div class="media-body">
                <div class="article-metadata">
                        <h3 class="article-title"> {{ photo.huntId.Title }} | {{ photo.user.username }}</h3>
                            <img class="image600" src="{{ photo.proof.url }}" width="200" height="200" >
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}