{% extends 'birthdayhunt/base_2col.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Outstanding Hunts</h2>
    {% for hunt in hunts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                        <b class="article-title"> {{ hunt.Title }}</b>
                        <ul>
                            <li>Detais: {{ hunt.Description }}</li>
                            <li>Points Awarded: {{ hunt.Points }}</li>
                        </ul>   
                    </p>
        </article>
    {% endfor %}
    
    <h2>Completed Hunts</h2>
    {% for hunt in completed_hunts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                        <b class="article-title"> {{ hunt.huntId.Title }}</b>
                            <div class='tests'>
                                <img src="{{ hunt.proof.url }}" style="max-width:100%;height:auto;">
                            </div>
                            Points: {{ hunt.huntId.Points }}   
                </div>     
            </div>   
        </article>
    {% endfor %}
    

{% endblock content %}

{% block sidecontent %} 
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Record Your Hunt - Start Time: Time will go here}
            </legend>
            {{ c_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class=btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>





{%  endblock sidecontent %}